.count-up-element {
    display: inline;
}

.showcase {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    width: 20%;
    height: auto;
    position: relative;
    transition: transform 0.3s ease;
}

.showcase:hover {
    transform: scale(1.2);
}

.showcase-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

.showcase-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 80vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.icon {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    width: 10%;
    height: auto; 
    max-width: 100px;
    position: relative;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.icon-list-container {
    column-count: 2;
}

.icon-list {
    list-style: disc;
    padding-top: 2%;
    padding-right: 2%;
    margin-bottom: -3%;
}

.tooltip {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #100010;
    background-color: rgba(16,0,16,0.94);
    color: white;
    padding: 0.375em;
    font-size: 16px;
    word-spacing: 4px;
    white-space: nowrap;
    line-height: 1.25em;
    margin: 0.125em 0.25em;
    pointer-events: none;
    z-index: 9999;
}
.tooltip::before {
    content: "";
    position: absolute;
    top: 0.125em;
    right: -0.1em;
    bottom: 0.125em;
    left: -0.1em;
    border: 0.125em solid #100010;
    border-style: none solid;
    border-color: rgba(16,0,16,0.94);
}
.tooltip::after {
    content: "";
    position: absolute;
    top: 0.125em;
    right: 0;
    bottom: 0.125em;
    left: 0;
    border: 0.125em solid #2D0A63;
    border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
    border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
}

.crafting-element {
    display: none;
}

#showcase-gallery{
    display: flex;
    justify-content: center;
}

.md-social-info{
    font-size: .6rem;
}

@media screen and (min-width: 45em) {
    .md-social-info{
        text-align: center;
        font-size: .6rem;
    }
}

.sidebar{
    text-align: right;
    margin-top: 0em;
}

.svg-image{
    fill: currentcolor;
    width: 1.125em;
    height: auto;
    margin-right: 0.3em;
}

.main_table {
    border-radius: 4.2px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
}

.left_main_table {
    padding: 20px;
    margin: 0px;
    align-content: center;
    overflow: auto;
    text-overflow: ellipsis;
}

.left_table {
    padding: 0px;
    margin: 0px;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    object-fit: contain;
    height: 100%;
}

.right_img_table {
    margin: auto;
    padding: 5px;
}

.right_img_table img {
    width: 100%;
}

.first-column {
    text-align: left;
    vertical-align: middle;
    min-width: 25%;
    max-width: 45%;
    font-weight: 400;
    font-size: 14px;
}

.second-column {
    text-align: left;
    vertical-align: middle;
    min-width: 55%;
    max-width: 75%;
    font-weight: 300;
    font-size: 14px;
}


[data-md-color-scheme="default"] #linear-top {
    border-top: 0.4mm solid rgb(224,224,224);
}

#linear-top {
    border-top: 0.4mm solid rgb(255, 255, 255, 0.2);
}

#linear-bottom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

td {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 10px;
    font-weight: 400;
}
